#about {
    color: brown
}
#skils {
    color: blueviolet
}
#portfolio {
    color: red
}
#contact {
    color: green
}
body {background-color: white}

div  {
    width: 100px;
    height: 100px;
    background-color: black
}
div  {
    width: 100px;
    height: 100px;
    background-color: black
}
div  {
    width: 100px;
    height: 100px;
    background-color: black
}
div  {
    width: 100px;
    height: 100px;
    background-color: black
}

div {
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 10px solid blue;    
}
div {
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 10px solid blue;    
}
div {
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 10px solid blue;     
}







}
